//what we do page {
.page-id-11 {
  .jumbotron img {
    top: -30%;
  }
}
// markets and product pages
.parent-pageid-13, .page-id-15, .parent-pageid-15 {
  .jumbotron {
    margin-bottom: 0;
  }
  .entry-content {
    margin-top: 0;
    background-color: $brand-dark;
    > div:nth-child(2) {
      padding: $margin;
      background-color: #fff;
      min-height: 1200px;
      > .row {
        background-color: #fff;
      }
    }
  }
  .entry-header {
    display: none;
  }
  .main-content-area {
    margin-bottom: 0;
  }
  h2 {
    font-size: 48px;
    margin-top: 0;
  }
  h3 {
    font-size: 36px;
    color: $brand-primary;
    margin-top: $margin-m;
  }
  h4 {
    font-size: 30px;
    color: $brand-primary;
    margin: $margin-m 0 $margin-s;
  }
  .market-image {
    margin: $margin-m auto;
  }
  ul:not(.dropdown-menu,.sidebar-menu) {
    padding-left: 20px;
  }
  #overview {
    margin-bottom: $margin-m;
  }
}
.category-markets, .parent-pageid-15 {
  #overview {
    background-color: transparent;
  }
}

@media (max-width:768px) {
  .parent-pageid-13, .page-id-15, .parent-pageid-15 {
    .entry-content > div:nth-child(2) {
      padding: 0;
      h2 {
        margin-top: $margin-m;
      }
    }
  }
}